<!DOCTYPE html>
<html>
<head>
  <title>Javascript test</title>
  <link rel="stylesheet" type="text/css" href="../css/dc.css"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
</head>
<body>
<script type="text/javascript" src="../js/d3.js"></script>
<script type="text/javascript" src="../js/crossfilter.js"></script>
<script type="text/javascript" src="../js/queue.js"></script>
<script type="text/javascript">

function print_filter(filter){
  var f=eval(filter);
  if (typeof(f.length) != "undefined") {}else{}
  if (typeof(f.top) != "undefined") {f=f.top(Infinity);}else{}
  if (typef(f.dimension) != "undefined") {f=f.dimension(function(d) { return "";}).top(Infinity);}else{}
  console.log(filter+"("+f.length+") = "+JSON.stringify(f).replace("[","[\n\t").replace(/}\,/g,"},\n\t").replace("]","\n]"));
}

queue()
    .defer(d3.json, "/saxs")
    .await(makeGraphs);

function makeGraphs(error, saxs_data) {
  var ndx = crossfilter(saxs_data);
  var qdim = ndx.dimension(function(d){ return d.Q;})

  var total_90_101= qdim.filter([7,14]);
  print_filter("total_90_101");
}

</script>
</body>
</html>
